:root {
  --almost-black: #252121;
  --GhostWhite: #F8F8FF;
}

.aboutMe {
  float: left;
  display: inline-block;
}

.bottomContainer {
  background-color: yellow;
}

.container-h1 {
  font-size: 2rem;
  top: 150px;
  right: 110px;
}

.container-h2 {
  font-size: 1.5rem;
}

.container-p {
  font-size: 1rem;
  top: 210px;
  right: 30px;
}

.container-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div {
  font-family: 'PT Mono', monospace;
  text-align: center;
}

.mainDiv{
  height: 500px;
  margin: 5%;
  padding: 70px;
}

.subDiv{
  width: 50%;
}

.middleContainer {
  color: var(--almost-black);
  border: solid 10px;
  padding: 0;
  left: 0;
}

.noMargin {
  margin: 0;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative{
  position: relative;
}

.skillSet {
  float: right;
}

.topContainer {
  background-color: var(--almost-black);
  color: var(--GhostWhite);
  padding: 0;
}
