:root {
  --almost-black: #252121;
  --ghost-white: #F8F8FF;
}

.noMargin {
  margin: 0;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative {
  position: relative;
}

div {
  font-family: 'PT Mono', monospace;
  text-align: center;
}

.mainDiv {
  height: 500px;
  margin: 20px;
  padding: 70px;
}

@media screen and (min-width: 960px) {
  .mainDiv {
    margin: 30px;
  }
}

.mainDiv > div {
  width: 50%;
}

h1 {
  font-size: 2rem;
  top: 150px;
  right: 110px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  top: 210px;
  right: 30px;
}

.topContainer {
  background-color: var(--almost-black);
  color: var(--ghost-white);
  padding: 0;
}

.container-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.middleContainer {
  color: var(--almost-black);
  border: solid 10px;
  padding: 0;
  left: 0;
}

.aboutMe {
  float: left;
  display: inline-block;
}

.skillSet {
  float: right;
}

.bottomContainer {
  background-color: yellow;
}
