:root {
  --almost-black: #252121;
  --GhostWhite: #F8F8FF;
}

.noMargin {
  margin: 0;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative {
  position: relative;
}

div {
  font-family: 'PT Mono', monospace;
  text-align: center;
}

.mainDiv {
  height: 500px;
  margin: 5%;
  padding: 70px;
}

.mainDiv>div {
  width: 45%;
  padding: 30px;
  text-align: left;
  line-height: 2rem;
}

h1 {
  font-size: 2rem;
  top: 150px;
  right: 110px;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  top: 210px;
  right: 30px;
}

.topContainer {
  background-color: var(--almost-black);
  color: var(--GhostWhite);
  padding: 0;
}

.container-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.middleContainer {
  color: var(--almost-black);
  border: solid 10px;
  padding: 0;
  left: 0;
}

.aboutMe {
  left: 0;
}

.skillSet {
  right: 0;
}

.geometricalShape {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.bottomContainer {
  background-color: yellow;
}
